.pokemon-detail {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.pokemon-summary {
    display: flex;
    grid-column-start: 1;
    grid-row: 1 / span 6;
    align-items: center;
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    box-shadow: 10px 10px 12px 0 rgba(255, 255, 255, 0.848);
}

.pokemon-information {
    background-color: #e9f3e4;
    color: black;
    width: 90%;
    height: 90%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    text-align: center;
}

.pokemon-info-div {
    display: flex;
    justify-content: center;
}

.pokemon-information-stats {
    grid-row-start: 4;
    height: 100%;
    font-size: 10px;
    line-height: 10px;
    font-size: 12px;
}

.sprite-container {
    display: flex;
    grid-column-start: 2;
    grid-row: 1 / span 6;
    justify-content: center;
    align-items: center;
}

.sprite-container > img{
    /* height: 35%;
    width: 35%; */
    max-height: 340px;
    max-width: 340px;
    justify-self: center;
}

@keyframes addTeamBefore {
  from {max-width: 340px; max-height: 340px}
  to {max-width: 0px; max-height: 0px}
}

.change-form-buttons {
    display: flex;
}

.change-form-buttons > div {
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    border-radius: 20px;
    color: white;
    width: 75px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.change-form-buttons > div:hover {
    background-color: rgb(255, 55, 55);
    background-image: none;
    transition-duration: .5s;
    cursor: pointer;
}

.if-have-forms {
    display:grid;
    grid-template-rows: 1fr 7fr;
}

.description-button-container {
    display: grid;
    grid-template-rows: 4fr 2fr;
}

.buttons-container {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add-button {
    height: 75%;
    border: none;
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    border-radius: 20px;
    color: white;
}

.moves-container {
    overflow-y: hidden;
    height: 100%;
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
}

.moves-container:hover {
    overflow-y: scroll;
}


.move-selection {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 2px 5px -2px rgba(255, 255, 255, 0.66);
}

.move-selection:hover,
.add-button:hover {
    background-color: rgb(255, 55, 55);
    background-image: none;
    transition-duration: .5s;
    cursor: pointer;
}

.move-description {
    height: 100%;
    width: 100%;
    font-size: 12px;
    margin: auto;
    /* overflow-y: scroll; */
    display: grid;
    background-color: #f9c1b1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
}

.move-description > div {
    background-color: #e9f3e4;
    height: 100px;
    width: 90%;
    padding: 10px;
    overflow-y: scroll;
}

.pokedex-info {
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    box-shadow: 10px 10px 12px 0 rgba(255, 255, 255, 0.848);
    color: white;
    width: 90%;
    height: 90%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    text-align: center;
}

#dex-entry {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}