.home-left-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-left-box > div {
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    box-shadow: 10px 10px 12px 0 rgba(255, 255, 255, 0.848);
    width: 70%;
    height: 25%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 25px;
    color: rgb(255, 255, 255);
    border-radius: 50px;
}

.home-left-box > div:hover {
    background-color: rgb(255, 55, 55);
    background-image: none;
    transition-duration: .5s;
    cursor: pointer;
}