/* TODO Add site wide styles */
@import 'signup_login.css';
@import 'home.css';
@import 'selectteam.css';
@import 'editpokemoninfo.css';
@import 'battleselect.css';
@import 'prebattle.css';
@import 'battletrainerview.css';
@import 'navbar.css';
@import 'viewbio.css';
@import 'loading.css';
@import 'badgeinfo.css';

html,
body,
#root,
.view-body {
    height: 100%;
    margin: auto;
    background: -webkit-gradient(linear,left top,left bottom,from(#C2FFD8),to(#465EFB));
    font-family: Verdana,Helvetica,Arial,sans-serif;
}

.view-body {
    display: grid;
    grid-template-rows: 75px 1fr 75px;
}


.center-body {
    display: flex;
    align-items: center;
}

.left-box {
    height: 510px;
    width: 60%;
    background-color: #e9f3e4;
    margin: 0px 20px;
    box-shadow: 0 2px 12px 0 rgba(255,255,255,.36);
}

.battling-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.battling-pokemon > img {
}

.move-slots-container {
    grid-row: 7 / span 3;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
}

.pokemon-info-div {
    display: flex;
    flex-direction: row;
}

.stats-container {
    display: flex;
    flex-direction: row;
}

.move-slot {
    background-color: white;
    height: 60%;
    width: 70%;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 25px;
}

.move-slot:hover {
    background-color: rgb(255, 251, 146);
    transition-duration: .5s;
    cursor: pointer;
}


.battle-screen-container {
    grid-row: 1 / span 6;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battle-screen {
    height: 100%;
    width: 70%;
    background-image: url("../assets/images/battle-background.png");
    background-size: 600px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.user-current-pokemon {
    grid-column-start: 1;
    grid-row: 2 / span 2;
}

.opponent-current-pokemon {
    grid-column-start: 2;
    grid-row: 1 / span 2;
}

.right-box {
    height: 510px;
    width: 30%;
    margin: 0px 20px;
    background-color: #e9f3e4;
    box-shadow: 0 2px 12px 0 rgba(255,255,255,.36);
}

.pokemon-team {
    display: grid;
    grid-row: 1fr 9fr;
}

.badge-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns:  1fr 1fr;
}

.badge-container > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 12px 0 rgba(255, 255, 255, 0.848);

}

.badge-container img {
  height: 115px;
  width: 115px;
  background-image: none;
  /* size: 1px; */
}

.fa {
  font-size: 40px;
  color: #f7ab96;
  text-decoration: none;
  padding: 0px 10px;
}

.fa:hover {
  color: rgb(255, 55, 55);
  transition-duration: .5s;
}

/* .personal-pages-link {
  justify-self: flex-start;
} */

.footer {
  background-color: #e9f3e4;
  box-shadow: 0 2px 12px 0 rgba(255,255,255,.36);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* TYPEWRITER CODE START */
/* .typewriter h1 { */
  /* overflow: hidden; Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  /* white-space: nowrap; Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  /* background-color: white;
  animation: typing 1s steps(40, end)
} */

/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} */
/* TYPEWRITER CODE END */

/* TYPEWRITER CODE START */

/* .typewriter {
    background-color: white;
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 13.2em;
  }
}
@keyframes text1 {
    10%, 40% {
      width: 13em;
    }
    0%, 50%, 100% {
        width: 0;
    }
}

#text_1 {
  animation: text1;
}
#text_2 {
  animation: text2;
}
#text_1, #text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 5s;
  animation-timing-function: steps(30, end);
  animation-iteration-count: 1;
}
#text_1::after, #text_2::after {
  /* content: "|"; */
  /* position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
} */
/* TYPEWRITER CODE END */