.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 2px 12px 0 rgba(255,255,255,.36);
    background-color: #e9f3e4;
}

.tab {
    width: 25%;
    background-color: #f9c1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.tab:hover {
    background-color: rgb(255, 55, 55);
    background-image: none;
    transition-duration: .5s;
    cursor: pointer;
}
