.login-form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 85%;
    /* border: 1px solid black; */
    box-shadow: 0 2px 12px 0 rgba(255,255,255,.36);
    background-color: #e9f3e4;
}

.entry-fields {
    display: flex;
    flex-direction: column;
}

.entry-fields > input {
    height: 25px;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    border: none;
}

.form-container button {
    height: 50px;
    width: 150px;
    border: none;
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    color: white;
    border-radius: 20px;
}

#link-to-login-signup {
    font-size: 12px;
}

#link-to-login-signup:hover {
    cursor: pointer;
    color:blue;
}

.form-container button:hover {
    background-color: rgb(255, 55, 55);
    transition-duration: .5s;
    cursor: pointer;
    background-image: none;
}

.form-container button:focus {
    outline: none;
}

.entry-fields > input:focus {
  /* background-color: yellow; */
  border:none;
  outline: none;
}

.oak-dialogue-box {
    height: 50%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #e9f3e4;
    box-shadow: 0 2px 12px 0 rgba(255,255,255,.56)
}

.oak-image {
    height: 100%;
    width:100%;
}
.oak-image > img {
    height: 100%;
    width: 100%;
    position: relative;
}

.dialogue-box {
    background-color: white;
    margin-top: 30px;
    margin-left: 90px;
    height: 60%;
    width: 80%;
    /* border: 5px solid black; */
    box-shadow: 0 2px 12px 0 rgba(255,255,255,.56);
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    border: rgba(0, 0, 0, 0.77) solid 5px;
}

.dialogue-box h1 {
    margin: auto;
}

.logo {
    background-image: url("../assets/images/pokechampions.png");
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demoUserButtons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-self: end;
    align-self: flex-end;
}

#demouser,
#demouserallgymleader,
#demouserallelitefour,
#demouserchampion {
    width: 75%;
    height: 95%;
    align-self: center;
    justify-self: center;
    margin: 10px;
}