/* TODO Add site wide styles */
html,
body,
#root,
.view-body {
    height: 100%;
    margin: auto;
}

.view-body {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
}

.center-body {
    display: flex;
    align-items: center;
}

.left-box {
    height: 510px;
    width: 60%;
    border: solid 1px black;
    margin: 0px 20px;
}

.select-battle-view {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.battling-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.battling-pokemon > img {
    width: 60%;
    height: 60%;
}

.gym-leader-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.elitefour-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.select-trainer-icon {
    height: 135px;
    width: 135px;
}

.select-trainer-icon {
    border: 1px solid black;
}

.pokemon-list {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pokemon-list > div  {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100px;
    text-align: center;
    margin: 10px;
}

.pokemon-list img  {
    height: 70px;
    width: 70px;
}

.pokemon-detail {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.pokemon-summary {
    display: flex;
    grid-column-start: 1;
    grid-row: 1 / span 6;
    align-items: center;
}

.sprite-container {
    display: flex;
    grid-column-start: 2;
    grid-row: 1 / span 6;
    justify-content: center;
    align-items: center;
}

.sprite-container > img{
    height: 75%;
    width: 75%;
    max-height: 340px;
    max-width: 340px;
}

.move-slots-container {
    grid-row: 7 / span 3;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    background-color: black;
}

.pokemon-information {
    /* background-color: black; */
    width: 90%;
    height: 90%;
    margin: auto;
    border: black 1px solid;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr;
}

.pokemon-info-div {
    display: flex;
    flex-direction: row;
}

.pokemon-information-stats {
    grid-row-start: 4;
    height: 100%;
    font-size: 10px;
    line-height: 10px;
}
.stats-container {
    display: flex;
    flex-direction: row;
}

.move-slot {
    background-color: white;
    height: 60%;
    width: 70%;
    margin: auto;
}

.home-left-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: solid 1px black;
}

.home-left-box > div {
    border: solid 1px black;
    width: 50%;
    height: 15%;
    margin: auto;
    text-align: center;
}

.battle-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.move-slots-container-battle {
    grid-row: 7 / span 3;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    background-color: black;
}

.battle-screen-container {
    grid-row: 1 / span 6;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battle-screen {
    height: 100%;
    width: 70%;
    background-image: url("./assets/battle-background.png");
    background-size: 600px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.user-current-pokemon {
    grid-column-start: 1;
    grid-row: 2 / span 2;
}

.opponent-current-pokemon {
    grid-column-start: 2;
    grid-row: 1 / span 2;
}

.user-pokemon-status-info {
    grid-column-start: 2;
    grid-row-start: 3;
}

.status-info-container {
    background-color: white;
    border: 1px solid black;
    margin: 15px;
    height: 70px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.status-info-container p {
    margin: 0;
}

.status-info-hpbar {
    display: flex;
    flex-direction: row;
}

.hpbar-container {
    height: 70%;
    width: 135px;
    border: black 1px solid;
}

.hpbar {
    background-color: green;
    height: 100%;
    width: 100%;
}

.opponent-pokemon-status-info {
    grid-column-start: 1;
    grid-row-start: 1;
}

.right-box {
    height: 510px;
    width: 30%;
    border: solid 1px black;
    margin: 0px 20px;
}

.pokemon-team {
    display: grid;
    grid-row: 1fr 9fr;
}

.description-button-container {
    display: grid;
    grid-template-rows: 4fr 2fr;
}

.moves-container {
    overflow-y: scroll;
    height: 300px;
    background-color: pink;
}

.move-description {
    height: 100%;
    font-size: 12px;
    margin: auto;
    overflow-y: scroll;
    display: grid;
}

.footer {
    border: solid 1px black;
}

.pokemon-team-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 84%;
    margin: auto;
    /* width: 54%; */
}

.pokemon-team-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}