/* TODO Add site wide styles */
html,
body,
#root,
.view-body {
    height: 100%;
    margin: auto;
}

.view-body {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
}

.center-body {
    display: flex;
    align-items: center;
}

.left-box {
    height: 510px;
    width: 60%;
    border: solid 1px black;
    margin: 0px 20px;
}

.pokemon-list {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pokemon-list > div  {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100px;
    text-align: center;
    margin: 10px;
}

.pokemon-list img  {
    height: 100%;
}


.home-left-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: solid 1px black;
}

.home-left-box > div {
    border: solid 1px black;
    width: 50%;
    height: 15%;
    margin: auto;
    text-align: center;
}

.right-box {
    height: 90%;
    width: 30%;
    border: solid 1px black;
    margin: 0px 20px;
}

.footer {
    border: solid 1px black;
}